# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

.terraformrc
terraform.rc

.terraform.lock.hcl


architecture1/module/EC2/ey_key
architecture1/module/EC2/ey_key.pub

architecture1/

archi1/module/vpc/ey_key
archi1/module/vpc/ey_key.pub


archi2/ey_key
archi2/ey_key.pub